*{padding: 0;margin: 0;}
body{
    background: #34699a;
}
#canvasdiv{
    position: absolute;
    top: 20%;
    width: 512px;
    cursor: pointer;
    background: #113f67;
    border: 1px dashed ;
    overflow: hidden;
}